# Idea files
.idea

# Ignore .env files
.env

# Ignore logs and reports
*.log
log.html
output.xml
report.html

# Ignore the DB Query SQL
db_queries.sql

# Ignore DB Backups
*.sql.gz
*.sql

# Ignore pycache folders
__pycache__/

# Ignore Alembic migrations
alembic/
alembic.ini

# venv folders
.venv/
proj/
finance_env/